<div style="padding: 0 1rem">
    <h1>Sandbox Plugin</h1>
    <p>Refresh this page to make sure that the FAB at the bottom is not being rendered more than once. You should be
    able to tell by looking that the drop shadow doesn't get darker every time.</p>
</div>

<ion-fab core-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
