<div style="padding: 0 1rem">
    <h1>Sandbox Plugin</h1>
    <p>Modify this file to start tinkering</p>
    <div class="formulaspart">Your answer
        <label id="q3960001_0_0-label" class="subq accesshide" for="q396000:1_0_0">Answer</label>
        <input name="q396000:1_0_0" aria-labelledby="q3960001_0_0-label" id="q396000:1_0_0" maxlength="128" type="text" title="Number" class="formulas_number ">
    </div>
</div>
